@model MvcStok.Models.Entity.tbl_katagori

@{
    ViewBag.Title = "KatagoriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Katagori Güncelleme Sayfası</h2>

@using (Html.BeginForm("Güncelle", "Catagory", FormMethod.Post))
{
    <div class="form-group">

        @Html.LabelFor(m => m.KATAGORIID)
        @Html.TextBoxFor(m => m.KATAGORIID, new {@class="form-control"})
        <br />
        @Html.LabelFor(n=> n.KATAGORİAD)
        @Html.TextBoxFor(n=>n.KATAGORİAD,new {@class="form-control"})
    </div>
    <div>
        <button class="btn btn-success">Katagori Güncelle</button>
    </div>
}